@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Manrope&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

.hflex{
    display: flex;
    flex-wrap: wrap;
}

.vflex{
    display: flex;
    flex-direction: column;
}

#page-cont{
    height: 100vh;
}

#sidebar{
    background-image: url(jazmin-quaynor-bm9zWKi_c9Y-unsplash.jpg);
    background-size: contain;
    width: 30%;
}

#logo-cont{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 15%;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

img{
    width: 6.5rem;
    position: relative;
    top: 0.2rem;
    border: 2px solid white;
    border-radius: 1rem;
}

h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 3.4rem;
    line-height: 101%;
    color: white;
    text-align: center;
}

h2{
    margin-bottom: 2rem;
    width: 55ch;
}

main{
   padding-top: 2rem;
   padding-bottom: 2rem;
    background-color: #FAFAFA;
    width: 70%;
    justify-content: center;
}

.margin{
    margin-left: 3rem;
}

#form-cont{
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

label{
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
}

input{
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    width: 29ch;
}

input:focus{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

input:invalid{
    border: 1px red solid;
}

input:invalid:focus{
    border:none;
}

button{
    padding: 0.9rem 0.5rem;
    width: 24ch;
    margin-bottom: 1rem;
    background-color: #588E9A;
    color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

#credit{
    color: white;
    position: relative;
    top: 70vh;
    text-align: center;
    font-size: 0.9rem;
}

#credit a{
    color: white;
}

a{
    color:#588E9A;
}